{% extends 'base.html' %}

{% block content %}

    <div class="container mt-4">
        <h3 class="display-6">Detalhes do Produto</h3>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ object.title }}</h3>
                <p class="cart-text">Categoria: <strong>{{ object.category }}</strong></p>
                <p class="cart-text">Marca: <strong>{{ object.brand }}</strong></p>
                <p class="cart-text">{{ object.description }}</p>
                <p class="cart-text">Número de Série: <strong>{{ object.serie_number }}</strong></p>
                <p class="cart-text">Preço de Custo: <strong>{{ object.cost_price }}</strong></p>
                <p class="cart-text">Preço de Venda: <strong>{{ object.selling_price }}</strong></p>
                <p class="cart-text">Quantidade de Estoque: <strong>{{ object.quantity }}</strong></p>
            </div>
        </div>
        <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Voltar</a>
    </div>

{% endblock %}

